<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<nav class="navbar">
    <a href="/" class="navbar-logo">7 - 8 лабораторная работа</a>
    <ul class="navbar-links">
        <li><a class="navbar-link" href="/">Домой</a></li>

        <li><a class="navbar-link" href="/cashiers">Светофоры</a></li>
        {% if request.user.is_authenticated %}
        <li><a class="navbar-link" href="/stores">Регионы</a></li>
        <li><a class="navbar-link" href="/items">Тип</a></li>
        <li><a class="navbar-link" href="/sales">Состояние</a></li>
        <li><a class="navbar-link" href="/checks">Отчет</a></li>

        <li><a class="navbar-link" href="/accounts/logout">Выход</a></li>
        {% else %}
        <li><a class="navbar-link" href="/accounts/login">Логин</a></li>
        <li><a class="navbar-link" href="/register">Регистрация</a></li>
        {% endif %}
    </ul>
</nav>

<div class="container">

    {% block content %}
    {% endblock %}

</div>

</body>
</html>
