{% extends "base.html" %}

{% block content %}
<div class="content">
    <h1>Лабораторная работа №7</h1>
    <p1>Для предложенного варианта заданий необходимо реализовать веб-сайт в среде Django, удовлетворяющий следующим требованиям:</p>
    <ol>
      <li>Количество таблиц в БД - не менее 5. Таблицы должны быть спроектированы в соответствии с тремя нормальными формами</li>
      <li>Должны быть реализованы 3 типа связей: one-to-one, one-to-many, many-to-many.</li>
      <li>Таблицы создаются с использованием моделей в Django и миграций.</li>
      <li>Как минимум, для 1 сущности должны быть реализованы CRUD операции (Create, read, update, delete) + представление списка сущностей.</li>
      <li>Остальные таблицы должны быть доступны для редактирования в административной части сайта.</li>
      <li>Необходимые пять таблиц должны быть разработаны для моделирования предметной области, заданной вариантом. Необходимо придумать эти таблицы, не забывая про здравый смысл.</li>
    </ol>
    <br><br>
    <h1>Лабораторная работа №8</h1>
    <p1>Необходимо модифицировать лабораторную работу №7:</p>
    <ol>
      <li>Добавить средства редактирования для ВСЕХ сущностей.</li>
      <li>Добавить минимум 2 роли, соответствующих реальным ролям в выбранной предметной области. Добавить пользователей, обладающих этими ролями.</li>
      <li>Реализовать средства регистрации пользователей, аутенфикации.</li>
      <li>Добавить средства авторизации и разграничения прав доступа разным ролям к разным сущностям.</li>
    </ol>
</div>
{% endblock %}