{% extends 'base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
<h2>Состояние</h2>
<table>
    <thead>
    <tr>
        <th>Номер отчета</th>
        <th>Тип светофора</th>
        <th>Количество машин в ожидании</th>
        {% if request.user.is_staff == True %}
        <th>Действие</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for sale in sales %}
    <tr>
        <td>{{ sale.check_id }}</td>
        <td>{{ sale.item }}</td>
        <td>{{ sale.quantity }}</td>
        {% if request.user.is_staff == True %}
        <td>
            <div class="edits">
                <a class="btn" href="{% url 'sale_update' sale.pk %}">Изменить</a>
                <a class="btn" href="{% url 'sale_delete' sale.pk %}">Удалить</a>
            </div>
        </td>
        {% endif %}
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">Таблица пустая</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<hr>
{% if request.user.is_staff == True %}
<h3>Добавить состояние</h3>
<form class="check-form" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Добавить</button>
</form>
{% endif %}
{% else %}
<h1>Вы не авторизованы!</h1>
{% endif %}
{% endblock %}
